.certification {
    padding: 50px 25px;

    .certification-university {
        text-align: center;

        .certification-university-name {
            margin-bottom: 15px;
        }
    }

    .certification-diplomas {
        margin-top: 35px;
    }
}