@import '../../common-styles/animations.scss';

.animated-svg-line {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;

    &:hover {
        .shape {
            animation: 0.5s draw linear forwards;
        }
    }

    .shape {
        fill: transparent;
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        stroke: #19f6e8;
    }

    .animated-svg-line-text {
        color: #fff;
        letter-spacing: 8px;
        line-height: 32px;
        position: relative;
        top: -48px;
    } 
}
