@import '../../common-styles/animations.scss';

.animated-progress-bar {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .animated-progress-bar-content-wrapper {
        display: flex;
    }

    .animated-progress-bar-content {
        color: #ffff;
        margin-bottom: 15px;
        font-size: 20px;

        &:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
            animation: ellipsis steps(4,end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0px;
        }
    }
}

