.project-tabs {
    .project-tabs-tab-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 18px;
    }

    .react-tabs__tab-panel {
        display: grid;
        gap: 50px 50px;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
    }

    .react-tabs__tab--selected {
        font-weight: bold;
    }
}   