@import '../../common-styles/colors.scss';
@import '../../common-styles/animations.scss';

.loading-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $loading-page-background-color;
    height: 100vh;

    .loading-page-coffee-into-code-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 170px;
        margin-bottom: 50px;
    }

    .loading-page-text {
        font-size: 20px;
        color: #ffffff;

        &:after {
            content: " ";
            white-space: pre;
        }
    }

    .svg-icon {
        svg {
            height: 100px;
        }
    }

    .rc-progress-line {
        width: 35%;
    }

    .coffee-icon {
        position: absolute;
        left: 40px;
        transition: opacity 2s ease-in-out;

        animation-name: fade-in-and-out;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-direction: alternate;
    }

    .animated-svg-line {
        position: absolute;
        top: 90%;
        cursor: pointer;
        text-align: center;
    }
}